@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/source-sans-pro-regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/source-sans-pro-600.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/fonts/source-sans-pro-700.woff2");
  font-weight: 700;
}

* {
  font-family: "Source Sans Pro", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

@theme {
  --color-primary: #032541;
  --color-accent: #01c6ac;
  --color-highlight: #01b4e4;
  --color-card: #dadada;
  --color-search-text: #acacac;
  --color-search-border: #e3e3e3;
  --shadow-card: 0 2px 8px rgba(0, 0, 0, 0.1);
  --background-size-md: 80px;
  --animate-fade-in: fade-in 0.2s linear 0s alternate;
  --animate-breath: breath 3s linear infinite;
  --background-image-gradient: linear-gradient(
    to bottom right,
    #b18bf5 0%,
    #efafbb 65%
  );
  --background-image-gradient2: linear-gradient(
    to right,
    #c0fecf 0,
    #1ed5a9 100%
  );
  --background-image-gradient3: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    #fff 100%
  );
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(219, 219, 219, 1);
}

@keyframes breath {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
