@import "tailwindcss";

@theme {
  --color-primary: #032541;
  --color-accent: #01c6ac;
  --background-image-gradient: linear-gradient(to bottom right, #b18bf5 0%, #efafbb 65%);
  --background-image-gradient2: linear-gradient(to bottom right, #b18bf5 0%, #efafbb 65%);
}